/* For the company page */

/* Thinking of using the following colour scheme - https://coolors.co/827377-002035-22aed1-6d8ea0-70b77e */


.navBarDiv {
    background-color: #827377;
    display:flex;
    clear: both;
    height: 90px;

    /* This keeps the nav bar at the top of the screen when scrolling */
    position: sticky;
    top: 0;

    margin: 2vw;

    border-radius: 50px;
    justify-content: space-evenly;

}

.navBarDiv a {
    color:#002035;
    font-size: 1.5vw;
    font-family: "Kay Pho Du", sans-serif;

    padding: 0.8vw;
    display: flex;
    align-items: center;

    padding: 2vw;
    /*margin-bottom: 2vw;
    */
    
    float:left;
    text-align: center;

}
/* For the nav bar link that the user is currently on */
#activeLink {
    color: #e7ec5a;
    background-color: #4d4245;
}



/* Nav bar logo */
#pClogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}

.leftContainer {
    display: flex;

    margin: 2vw;
    border-radius: 50px;

    background-color: #70B77E;
}