/* For the company page */

/* Thinking of using the following colour scheme - https://coolors.co/827377-016fb9-22aed1-6d8ea0-70b77e */


.navBarDiv {
    background-color: #827377;
    margin: 0px;
    display:block;

    /*width:max-content;
    height: 40px;*/
}

.navBarDiv a {
    color:#016FB9;
    font-size: 18px;
    padding: 15px 17px;
    float:left;
    text-align: center;

}
