/* For the company page */

/* Thinking of using the following colour scheme - https://coolors.co/827377-002035-22aed1-6d8ea0-70b77e */


.navBarDiv {
    background-color: #827377;
    display:flex;
    clear: both;
    height: 90px;

    margin: 2vw;

    border-radius: 50px;
    justify-content: space-evenly;

}

.navBarDiv a {
    color:#002035;
    font-size: 1.5vw;
    font-family: "Kay Pho Du", sans-serif;

    padding: 0.8vw;
    display: flex;
    align-items: center;

    float:left;
    text-align: center;

}

#pClogo {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 10px;
}