/* For the company page */

@import url("https://fonts.googleapis.com/css2?family=Kay+Pho+Du&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

/* Thinking of using the following colour scheme - https://coolors.co/827377-002035-22aed1-6d8ea0-70b77e */

.navBarDiv {
  background-color: #b3a99a;
  display: flex;
  clear: both;
  height: 90px;

  /* This keeps the nav bar at the top of the screen when scrolling */
  position: sticky;
  top: 0;

  padding-left: 1vw;
  padding-right: 1vw;
  margin: 2vw;

  border-radius: 30px;
  justify-content: space-evenly;

  z-index: 1;
}

.navBarDiv a {
  color: #002035;
  font-size: 1.5vw;
  font-family: "Kay Pho Du", sans-serif;
  text-decoration: none;

  padding: 0.8vw;
  display: flex;
  align-items: center;
  padding: 2vw;

  border-radius: 10px;

  float: left;
  text-align: center;
}

/* Adds the onmouseover effect */
.navBarDiv a:hover {
  background-color: white;
  color: #002035;
}

/* For the nav bar link that the user is currently on */
#activeLink {
  color: #e7ec5a;
  background-color: #4d4245;
}

p1 {
  font-family: "Kay Pho Du", sans-serif;
}

h2 {
  font-family: "Kay Pho Du", sans-serif;
  text-align: center;
}

h3 {
  font-family: "Kay Pho Du", sans-serif;
}

h4 {
  font-family: "Kay Pho Du", sans-serif;
}

h11 {
  font-size: 3vw;
  font-family: "Montserrat", sans-serif;

  text-decoration: underline;
  font-weight: bold;

  display: flex;
  padding: 1vw;
}

/* Used for the line breaks on the page */
h12 {
  text-decoration: underline;
}

hTemp {
  background-color: red;
}

/* Nav bar logo */
#pClogo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 10px;
}

.infoCont {
  background-color: #b3bb9c;
  /* background-color: transparent; */

  display: flex;
  justify-content: center;

  margin: 6vw;
  padding: 2vw;

  border-radius: 20%;

  filter: drop-shadow(0 10px 8px #ffdc52);
}

.leftContainer {
  display: flex;
  float: left;

  margin: 2vw;
  margin-left: 5vw;
  padding: 20px;
  border-radius: 50px;

  background-color: #70b77e;

  box-shadow: 0px 0px transparent;
  transition: box-shadow 0.5s ease-in-out;
  transition-delay: 10ms;
}

.leftContainer:hover {
  box-shadow: 8px 8px #459853;
}

.rightContainer {
  display: flex;
  float: right;

  margin: 2vw;
  margin-right: 5vw;
  padding: 10px;
  border-radius: 50px;

  background-color: #b2daf1;
}

.centerContainer {
  display: block;
  float: right;

  margin: 2vw;
  margin-right: 5vw;
  padding: 10px;
  border-radius: 30px;

  background-color: #faeb74;
}

.productImg {
  width: 30vw;

  border-color: black;
  border-width: 5px;
  border-radius: 10px;
}

.footprintImg {
  height: 20vw;

  margin: 1vw;
}

#codeImage {
  width: 30vw;
  height: auto;

  border-radius: 50px;

  padding: 1vw;

  /* After page loads opacity turns on
  opacity: 0;
  transition: opacity 2s ease-in;
  transition-delay: 1s; */
}

.headshotContainer {
  display: inline-block;
  justify-content: center;
  margin: 1.5vw;

  transition: transform 0.5s ease-in-out;
}

.headshotContainer:hover {
  transform: scale(1.2);
}

.headshotIcon {
  border-radius: 100%;
  display: block;
  width: 130px;
}

.lineSeparator {
  display: block;

  text-align: center;
}

.GButton {
  display: block;

  color: green;
  background-color: #c2fbd7;
  border: 0;
  border-radius: 100px;

  font-size: 20px;
  font-family: "Kay Pho Du", sans-serif;
  text-align: center;
  text-decoration: none;

  padding: 7px 20px;

  transition: all 250ms;
}

.GButton:hover {
  transform: scale(1.05) rotate(-0.5deg);
}

/* .contactUsButton {
  align-self: center;

  border-radius: 10px;

  margin-left: 8vw;

  font-family: "Kay Pho Du", sans-serif;
  font-size: 20px;
} */

.contactForm {
  text-align: center;
  margin: 2vw;
  margin-right: 5vw;
  padding: 10px;
  border-radius: 30px;

  background-color: #faeb74;
  font-family: "Kay Pho Du", sans-serif;
}

footer {
  background-color: #827868;

  margin: 0;
  padding: 2vw;

  font-family: "Kay Pho Du", sans-serif;
  text-align: center;
}
